html {
    background: url(../images/bg.gif) no-repeat center center fixed;
    background-size: cover;
}
@font-face {
    font-family: "Press Start 2P";
    src: url("PressStart2P-Regular.ttf") format('truetype');
}
nav {
    position: absolute;
    top: 70%;
    left: 45%;
    text-align: center;
}
nav span {
    font-family: "Press Start 2P";
    font-size: 23px;
}
nav span a {
    color: black;
    text-decoration: none;
}
nav span a:hover {
    color: #ff8114;
    cursor: pointer;
}

@-webkit-keyframes run {
  from{
      right:100%;
  }
  to{
      right:0%;
  }
}

.animate {
    position: absolute;
    -webkit-animation: run 10s linear infinite;
    top: 68%;
    height: 5%;
    width: 5%;
}
.decorate {
    text-decoration: none;
    color: #670202;
}
.decor:hover {
    text-decoration: underline;
}
.gallery {
    display: inline-block;
    margin-left: 30px;
}
.gallery .block {
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 10px 10px 50px 10px;
    background-color: #fee8e8;
    border-radius: 5px;
    height: 130px;
    width: 180px;
    transition: 0.3s;
    box-shadow: 0px 25px 17px -25px #fa0d0d;
}
.gallery div:hover {
    transform: scale(1.12);
}
.gallery img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}
.gallery p {
    font-family: "Press Start 2P";
    font-size: 10px;
}
.flex {
    display: inline-flex;
}
.vector {
    width: 10px !important;
    height: 10px !important;
    padding: 10px 4px 0px 0px;
}
